{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "ie>8",
                        "not dead",
                        "> 0.5%"
                    ]
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}